* {
  box-sizing: border-box;
}

.clear {
  clear: both;
}

section{
  border: 1px solid black;
  height: 200px;
  width: 100%; 
  float: left; 
}

div{
  border: 1px solid black;
  height: 200px;
  width: 33.333%; 
  float: left; 
  
}
#firstbutton{
  background: pink;
}

